@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito-sans);
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 100% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 100% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 255 70% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 100% 87%;
    --secondary-foreground: 255 50% 30%;
    --muted: 240 25% 94%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 140 45% 73%;
    --accent-foreground: 140 50% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 255 70% 60%;
    --chart-1: 255 70% 60%;
    --chart-2: 140 45% 73%;
    --chart-3: 30 80% 65%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 240 5.9% 10%;
    --foreground: 240 5% 95%;
    --card: 240 5.9% 10%;
    --card-foreground: 240 5% 95%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 240 5% 95%;
    --primary: 255 80% 75%;
    --primary-foreground: 255 10% 10%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 140 35% 50%;
    --accent-foreground: 140 90% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 255 80% 75%;
    --chart-1: 255 80% 75%;
    --chart-2: 140 35% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
